* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
}

.nav-bar {
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: 700;
  font-size: x-large;
  color: gray;
}

.loginlogo {
  width: 50px;
  height: 50px;
}

input {
  outline: none;
  text-align: center;
  height: 28px;
  width: 120px;
}

.log-in input {
  padding: 10px;
  border-radius: 16px;
  border: 0.5px solid rgb(209, 206, 206);
}
