* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(233, 232, 232);
}

.nav-bar {
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: 700;
  font-size: x-large;
  color: gray;
}

.loginlogo {
  width: 50px;
  height: 50px;
}

input {
  outline: none;
  text-align: center;

  width: 120px;
}

.log-in input {
  padding: 0 12px;
  background-color: rgba(255, 255, 255, 0.658);
  padding: 8px 12px;
  border-radius: 16px;
  border: none;
}

.login-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.arrow {
  position: relative;
  width: 22px;
  height: 2px;
}

.log-in {
  display: flex;
  align-items: center;
  gap: 12px;
}
