* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(233, 232, 232);
}

.nav-bar {
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: 700;
  font-size: x-large;
  color: gray;
}

.loginlogo {
  width: 50px;
  height: 50px;
}

input {
  outline: none;
  text-align: center;

  width: 120px;
}

.log-in input {
  padding: 0 12px;
  background-color: rgba(255, 255, 255, 0.658);
  padding: 8px 12px;
  border-radius: 16px;
  border: none;
}

.login-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.arrow {
  position: relative;
  width: 22px;
  height: 2px;
}

.log-in {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hidden {
  display: none !important;
}

.layout {
  transition: opacity 0.3s ease;
}

.layout-dashboard {
  background-color: #f3f3f3;
  border-radius: 16px;
  padding: 24px;
  max-width: 1100px;
  margin: 40px auto;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.current-balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  margin: 0 auto;
  margin-bottom: 10px;
  color: rgb(78, 78, 78);
  font-size: x-large;
  font-weight: 600;
}

.date-time {
  font-size: 18px;
  color: rgb(137, 137, 137);
}
.total-balance {
  color: rgb(46, 46, 46);
  font-weight: 500;
  font-size: 2.5rem;
}

.dashboard {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 24px;
}

.movements {
  background-color: #f8f8f8;
  border-radius: 12px;
  overflow-y: auto;
  max-height: 500px;
}

.movement {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8;
}

.movement-type {
  font-size: 12px;
  padding: 6px 14px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  width: fit-content;
}

.movement-type.deposit {
  background: linear-gradient(to right, #66bb6a, #43a047);
}

.movement-type.withdrawal {
  background: linear-gradient(to right, #ff6b6b, #e53935);
}

.movement-date {
  font-size: 14px;
  color: #666;
  margin-left: 20px;
}

.movement-amount {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  border-radius: 14px;
  padding: 24px;
  color: #222;
}

.card h3 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
}

.transfer {
  background-color: #ffcc00;
}

.loan {
  background-color: #7ed56f;
}

.close {
  background-color: #ff4d6d;
}

.card input {
  border: none;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 14px;
}

.transfer input {
  background-color: #ffe680;
}

.loan input {
  background-color: #b7e7b0;
}

.close input {
  background-color: #ff9aaa;
}

.btn {
  border: none;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 14px;
}

.modal {
  position: fixed;

  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 320px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirm-yes {
  background: red;
  border: none;
  padding: 8px 18px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.confirm-no {
  background: white;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 10px;
}
